
<%= form_with model: @user do |form|%>
  <div>
    <%= form.label :username %>
    <%= form.text_field :username, placeholder: "Your name here" %>
  </div>
  <div>
    <%= form.label :email %>
    <%= form.email_field :email, placeholder: "example@example.com" %>
  </div>
  <div>
    <%= form.label :password %>
    <%= form.password_field :password, placeholder: "Your password here" %>
  </div>
  <div>
    <%= form.submit "Sign up" %>
  </div>
<% end %>